@font-face {
    src: url("/fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
    src: url("/fonts/RobotoCondensed-Light.ttf");
}
@font-face {
    src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
    src: url("/fonts/Roboto-Light.ttf");
}
@font-face {
    src: url("/fonts/Roboto-Bold.ttf");
}

.light-window{
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14;
}

.dark-window{
    -fx-background-color: -fx-basecolor-dark;
    -fx-font-family: "Roboto Light";
    -fx-background-radius: 0;
    -fx-font-size: 14;
}

.color-window {
    -fx-background-color: -fx-basecolor-medium;
    -fx-font-family: "Roboto Light";
    -fx-background-radius: 0;
    -fx-font-size: 14;
}

.menu-button{
    -fx-background-color: -fx-basecolor-dark;
    -fx-background-radius: 0;
}

.menu-button .label{
    -fx-text-fill: -fx-basecolor-light;
    -fx-font-family: "Roboto Bold";
}

.menu-item .label {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 15;
    -fx-text-fill: black;
}

.main-input-text{
    -fx-background-radius: 0;
    -fx-background-color: -fx-basecolor-light;
}

.color-label-title{
    -fx-text-fill: -fx-basecolor-medium;
    -fx-font-size: 17;
    -fx-font-family: "Roboto Bold";
}

.ligth-combo {
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: -fx-basecolor-medium;
}

.table-view .table-cell{
    -fx-font-family: "Roboto Condensed Light";
    -fx-wrap-text: true;
}

.table-view .column-header {
    -fx-background-color: -fx-basecolor-mint;
    -fx-border-weight: 0;
}


.table-view .column-header .label{
    -fx-alignment: center-left;
    -fx-font-family: "Roboto Condensed Regular";
    -fx-font-weight: normal;
}

.table-row-cell {
    -fx-cell-size: 30;
    -fx-border-weight: 0;
}

.dark-label-menu{
    -fx-text-fill: -fx-basecolor-dark;
}

.completed{
    -fx-background-color: green;
}

.month-marked {
    -fx-background-color: -fx-basecolor-dark;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 17;
}

.month-unmarked {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
    -fx-border-radius:0;

}
.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: -fx-basecolor-medium;
}

.label-error {
    -fx-text-fill: darkred;
}

.light-button {
    -fx-background-color: -fx-basecolor-light;
    -fx-border-radius:0;
    -fx-border-width: 1;
    -fx-border-color: lightgrey;
}

.dark-button {
    -fx-background-color: -fx-basecolor-dark;
    -fx-text-fill: white;
    -fx-border-radius:0;
}

.delete-button {
    -fx-background-color: -fx-basecolor-light;
    -fx-border-radius:0;
    -fx-border-width: 1;
    -fx-border-color: darkred;
    -fx-text-fill: darkred;
}

.light-label {
    -tf-text-fill: white;
}

.table-row-cell:selected .table-cell {
   -fx-text-fill: black;
}

.bold-label {
    -fx-font-family: "Roboto Bold";
}








